<div class="landingPage">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row align-items-center justify-content-around">
        <div class="col-12 col-md-7 col-lg-7">
          <h1 class="display-4 mb-3">Pulkit Verma</h1>
          <p class="mb-3">{{Intro}}</p>
          <p class="mb-3">{{Intro2}}</p>
          <p class="mb-3">{{Intro3}}</p>
          <p>{{Interests}}</p>
        </div>
        <div class="col-12 col-md-5 col-lg-5">
          <img src="../assets/images/me.png" class="img-fluid float-right" alt="My Illustrative Image">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="services">
  <div class="container">
    <div class="circle"></div>
    <h2 class="text-center">services</h2>
    <div class="row align-items-start">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="card" id="borderBottomOne">
          <div class="card-header">
            <div data-icon="ei-trophy" data-size="m"></div>
          </div>
          <div class="card-body p-4">
            <h5>Startup Talker</h5>
            <p>{{startupTalker}}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="card" id="borderBottomTwo">
          <div class="card-header">
            <img src="../assets/images/ai.png" class="img-fluid card-img-top" alt="AI Icon">
          </div>
          <div class="card-body p-4">
            <h5>AI Enthusiast</h5>
            <p>{{AIEnthusiast}}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="card" id="borderBottomThree">
          <div class="card-header">
            <img src="../assets/images/ui.png" class="img-fluid card-img-top" alt="UI/UX Icon">
          </div>
          <div class="card-body p-4">
            <h5>UI/UX Developer</h5>
            <p>{{UIDeveloper}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="portfolio">
  <div class="container">
    <div class="square"></div>
    <h2 class="text-center">portfolio</h2>
    <div class="row align-items-center my-5">
      <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF4.png" class="img-thumbnail" alt="Portfolio Image Four">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>Website for the Kharchalogy App</h5>
        <p>Very interesting project. I helped these guys by developing a landing page for this wonderful app "Kharchalogy" that is available
        in Google play store.</p>
      </div>
    </div>
    <hr>

    <div class="row align-items-center my-5">
      <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF1.png" class="img-thumbnail" alt="Portfolio Image One">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>Analysto: 1000+ analysts on demand</h5>
        <p>Design and developed website for Analysto which helps in bridging the gap between Analysts and the Organizations.</p>
      </div>
    </div>
    <hr>
    <div class="row align-items-center my-5">
       <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF2.png" class="img-thumbnail" alt="Portfolio Image Two">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>Personal Website</h5>
        <p>Design and developed a one-page layout for the working professional which includes his working experience, hobbies and projects.</p>
      </div>
    
    </div>
    <hr>
    <div class="row align-items-center my-5">
      <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF3.png" class="img-thumbnail" alt="Portfolio Image Three">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>E-Commerce Template</h5>
        <p>Design and developed an e-comm template for the person in UK who is trying to increase his sale on eBay by creating a template for his website. </p>
      </div>
    </div>
    <hr>
 
    <div class="row align-items-center my-5">
      <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF6.png" class="img-thumbnail" alt="Portfolio Image Six">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>Space World</h5>
        <p>I developed this website with one of my mate Sachin who helped me in designing this website. This is quite a big organization dealing in teleinfra services.</p>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>