<div class="landingPage">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-8 col-lg-8">
          <h1 class="display-4">Pulkit Verma</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <img src="../assets/images/me.png" class="img-fluid mx-auto d-block" alt="My Illustrative Image">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="services">
  <div class="container">
    <div class="circle"></div>
    <h2 class="text-center">services</h2>
    <div class="row align-items-start">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="card" id="borderBottomOne">
          <div class="card-header">
            <div data-icon="ei-trophy" data-size="m"></div>
          </div>
          <div class="card-body p-4">
            <h5>Startup Advisor</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="card" id="borderBottomTwo">
          <div class="card-header">
            <img src="../assets/images/ai.png" class="img-fluid card-img-top" alt="AI Icon">
          </div>
          <div class="card-body p-4">
            <h5>AI Enthusiast</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="card" id="borderBottomThree">
          <div class="card-header">
            <img src="../assets/images/ui.png" class="img-fluid card-img-top" alt="UI/UX Icon">
          </div>
          <div class="card-body p-4">
            <h5>UI/UX Developer</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="portfolio">
  <div class="container">
    <div class="square"></div>
    <h2 class="text-center">portfolio</h2>

    <div class="row align-items-center my-5">
      <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF1.png" class="img-thumbnail" alt="Portfolio Image One">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>UI/UX Design & Development</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      </div>
    </div>
    <hr>
    <div class="row align-items-center my-5">
       <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF2.png" class="img-thumbnail" alt="Portfolio Image Two">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>UI/UX Design & Development</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      </div>
    
    </div>
    <hr>
    <div class="row align-items-center my-5">
      <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF3.png" class="img-thumbnail" alt="Portfolio Image Three">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>UI/UX Design & Development</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      </div>
    </div>
    <hr>
    <div class="row align-items-center my-5">
      <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF4.png" class="img-thumbnail" alt="Portfolio Image Four">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>UI/UX Design & Development</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      </div>
    </div>
    <hr>
    <div class="row align-items-center my-5">
      <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF5.png" class="img-thumbnail" alt="Portfolio Image Five">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>UI/UX Design & Development</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      </div>
    </div>
    <hr>
    <div class="row align-items-center my-5">
      <div class="col-12 col-md-8 col-lg-8">
        <img src="../assets/images/portF6.png" class="img-thumbnail" alt="Portfolio Image Six">
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <h5>UI/UX Design & Development</h5>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>