
body p{
    margin-bottom: 0;
    line-height: 1.5rem;
    letter-spacing: 0.7px;
    color: #9a9b9c;
    font-weight: 200;
}

h2{
    margin-bottom: 70px;
    margin-top: 70px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h5{
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}