@import "typography";
@import "landingPage";
@import "services";
@import "portfolio";


body{
    background-color: transparent;
}
.jumbotron{
    background-color: transparent;
    margin-bottom: 0;
}
.card{
    background: transparent;
    border: none;
}

