<footer class="bg-light p-5">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-12 col-md-6 col-lg-6">
        <h4>CONTACT</h4>
        <div class="my-4">
          <p class="small text-muted">EMAIL</p>
         <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=freelancepulkit@gmail.com&"><p class="text-uppercase small text-dark" target="blank">freelancepulkit@gmail.com</p></a> 
        </div>
        <div class="my-4">
          <p class="small text-muted">MOBILE</p>
          <p class="text-uppercase small text-dark">+91 7906933730</p>
        </div>
        <div class="my-4">
          <p class="small text-muted">ADDRESS</p>
          <p class="text-uppercase small text-dark">Gurugram (india)</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <!-- <div class="box p-5">

          <h5 class="mb-4">Project Inquiry</h5>

          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Full Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea name="" id=""  rows="3" class="form-control" placeholder="Write your message..."></textarea>
            </div>
            <div class="form-group">

              <button class="btn btn-outline-primary float-right">Submit</button>
            </div>
          </form>

        </div> -->

       <div class="float-right text-right">
          <h4>CONNECT</h4>
          <ul class="list-unstyled my-4">
            <li class="my-2">
              <a href="https://angel.co/pulkit-verma-1?al_content=view+your+profile&al_source=transaction_feed%2Fnetwork_sidebar" target="_blank">
                <p class="text-uppercase small text-dark">Angel</p>
              </a>
            </li>
            <li class="my-2">
              <a href="https://github.com/pulkit004/" target="blank">
                <p class="text-uppercase small text-dark">Github</p>
              </a>
            </li>
            <li class="my-2">
              <a href="https://www.linkedin.com/in/pulkitv/" target="blank">
                <p class="text-uppercase small text-dark">Linkedin</p>
              </a>
            </li>
           
          </ul>
       </div>
      
       
        
      </div>
    </div>
  </div>
</footer>